#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=latam --xlayouts='latam','gb'
# System language
lang en_GB.UTF-8 --addsupport=es_UY.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$nn42c1bG/9tlOkJH$BVi4AO2wWbMM2Th9CYom.rLgjX8PyFLlJckvTc4VPR6OOH1GqAKw/xHUUQhzm6jD8ztlG7WEUPKgiSp9Ur7eG1
# System services
services --disabled="chronyd"
# System timezone
timezone America/Montevideo --isUtc --nontp
user --groups=wheel --name=suqi --password=$6$/WWbMCuVGNdtR.SS$nI9AJt130w2OPhAXmsEVBc2xj6uNYUEoBB9svSkm.QXZTZTGTh3kXqh2YtoK47/OWn23r/GFSViVuyDjF/6Jt. --iscrypted --gecos="suqi"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
